# Python
__pycache__/

# IDE
.vscode/

# Environments
.venv
.env
!env.example

# pytest(-cov)
.pytest_cache/
coverage.*
.coverage

# ruff
.ruff_cache/

# Terraform
.terraform/
!.terraform.lock.hcl

*.tfstate
*.tfstate.backup
*.tfplan

*.tfvars
*.tfvars.json
!*tfvars.example
!terraform/common.tfvars
!terraform/pipeline/pipeline.tfvars
